ES_HEAP_SIZE={{ elasticsearch_heap_size }}
ES_JAVA_OPTS={{ elasticsearch_java_opts }}
MAX_LOCKED_MEMORY={{ elasticsearch_max_locked_mem }}
MAX_OPEN_FILES={{ elasticsearch_max_open_files }}
ES_PATH_CONF=/etc/elasticsearch
ES_STARTUP_SLEEP_TIME={{ elasticsearch_startup_sleep_time }}
